html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  /* overflow-x: hidden; */
  background: url("./assets/backgrounds/MainBackground.png") fixed;
  background-size: cover;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.658);
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 0;
}

.navbar-nav a {
  color: white !important;
}

.navbar-nav a:hover {
  color: lightgray !important;
}

.navbar-nav .active a {
  background-color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: underline;
  border-radius: 10px 10px 0px 0px;
}

.navbar-nav .active a:hover {
  text-decoration: underline;
}

.jumbotron-style {
  background-color: rgba(0, 0, 0, 0.404);
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  color: white;
  overflow-wrap: break-word;
  border-radius: 10px;
  border: none;
}

.jumbotron-style a:hover {
  color: lightgray;
  text-decoration: none;
}

.jumbotron-style a {
  color: white;
}

.block {
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 10px;
  margin: 5px;
}

.register-button.btn-default {
  color: #333 !important;
}

.avatarimage {
  width: 100%;
  padding: 5px;
}

.inputbox {
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.avatartext {
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.content {
  margin-top: 70px;
  margin-left: 20px;
  display: flex;
}

.inline {
  flex-grow: 100;
}

.inline .container {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .sidebar {
    margin-left: 5px;
    margin-right: 5px;
  }
  .inline {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.panel-heading {
  background-color: rgba(0, 0, 0, 0.404) !important;
  color: white !important;
  border-radius: 10px 10px 0px 0px;
  border-width: 0px;
}

.panel-footer {
  background-color: rgba(0, 0, 0, 0.404) !important;
  color: white !important;
  border-width: 0px;
}

.modal-content {
  background-color: rgba(60, 60, 60, 0.9);
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  color: white;
  overflow-wrap: break-word;
  border-radius: 10px;
  border: none;
}

.modal-header {
  background-color: rgba(0, 0, 0, 0.404) !important;
  border-radius: 10px 10px 0px 0px;
  border-width: 0px;
}

.modal-header .close {
  color: white !important;
}

.modal-body {
  min-height: 60px;
}

.modal-footer {
  background-color: rgba(0, 0, 0, 0.404) !important;
  color: white !important;
  border-width: 0px;
}

.bgc {
  background-color: rgba(0, 0, 0, 0.404);
  border-width: 0px;
}

.titleinv {
  font-size: 30px;
}

/* Below the styling of the snakegame */

body {
  background-color: #ddd;
}

.snake-game {
  margin: 20px auto;
  position: relative;
  text-align: center;
}

.snake-score {
  font-size: 20px;
  font-weight: normal;
}

.snake-board {
  margin: auto;
  background: rgba(34, 34, 34, 0.678);
  overflow: hidden;
  outline: none;
  border-radius: 10px;
}

.snake-controls {
  left: 50%;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
}

.snake-controls button {
  background: #eee;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px #000;
  cursor: default;
  font-size: 20px;
  opacity: 0.75;
  padding: 15px;
  width: 200px;
  color: black;
}

.snake-controls button:hover {
  opacity: 1;
  color: black;
}

.body-cell, .null-cell {
  height: 30px;
  width: 30px;
}

.body-cell, .food-cell, .null-cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  overflow: hidden;
}

.body-cell {
  /* background: rgb(255, 255, 255); */
  background-image: url("./assets/images/neopets/Neopet1.png");
  background-size: cover;
  /* box-shadow: 0px 0px 5px rgb(0, 0, 0); */
}

.food-cell {

  border-radius: 15px;
  background-image: url("./assets/images/Items/Item-Apple.png");
  background-size: cover;
  height: 24px;
  margin: 3px;
  width: 24px;
}

.game-over .body-cell {
  background: #d04;
  box-shadow: 0px 0px 5px #d04;
}

