html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.maincontent {
  margin-top: 60px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.658);
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main {
  background-color: rgb(255, 230, 0);
  background-image: url("./assets/backgrounds/MainBackground.png");
  background-attachment: fixed;
  background-size: cover;
  height: 1000px;
  padding: 20px;
}

.jumbotron-style .panel {
  background-color: rgba(0, 0, 0, 0.404);
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  color: white;
}

.navbar-brand {
  color: black;
}

.navbar-header a:hover {
  color: black;
}

.navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
}

.navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color: white;
}

.block {
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 10px;
  margin: 5px;
}

.avatarimage {
  width: 100%;
  padding: 5px;
}

.inputbox {
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.avatartext {
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.progressbar {
  width: 80%;
}

.padding {
  padding: 1em;
}

.margin {
  margin-left: 30px;
  margin-top: 10px;
}
