html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  /* overflow-x: hidden; */
  background-image: url("./assets/backgrounds/MainBackground.png");
  background-attachment: fixed;
  background-size: cover;
}


.maincontent {
  margin-top: 60px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.658);
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.jumbotron-style {
  background-color: rgba(0, 0, 0, 0.404);
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  color: white;
  overflow-wrap: break-word;
  border-radius: 10px;
  border: none;
}


.jumbotron-style a:hover {
  color: black;
}

.jumbotron-style a {
  color: white;
}

.block {
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 10px;
  margin: 5px;
}

.avatarimage {
  width: 100%;
  padding: 5px;
}

.inputbox {
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.avatartext {
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.progressbar {
  width: 80%;
}

.padding {
  padding: 1em;
}

.margin {
  margin-left: 30px;
  margin-top: 10px;
}

.pet {
  margin: 15px;
}

#sidebar-wrapper {
  position: absolute;
  left: 250px;
  width: 16%;
  height: 90%;
  margin-left: -200px;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.404);
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  color: white;
  border-radius: 10px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

.inventory {
  height: 600px;
  overflow-y: auto;
  width: 100%;
}

.sidebar {
  display: inline-block;
  float: left;
  margin-top: 55px;
  margin-left: 40px;
  margin-bottom: -50px;
}

.inline {
  display: inline-block;
  float: left;
  margin-right: 30px;
  padding-left: 30px;
}

.panel-heading{
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
}

.bgc{
    background-color: rgba(0, 0, 0, 0.404);
}

.titleinv{
  font-size: 30px;
}
